The nature of data below reflects the type of data produced from the NOAA.
For example, some have "SNOW" as key, some don't. And there are possibilities of others like that you may not know before hand. Therefore, your code must make provision for that in advance.

1. First, you will have to check through the data and list out the keys, which will serve as columns of your data after processed. 

2. Second, you will have to conclude if you're extracting all key-value, or just some. For example, are you extracting just name, class, and status, or all: name, class, age. status, sport.

3. After you complete 1 and 2, then you write seperate functions to extract all data you conclude on in 2 individually. Because of the inconsistency you should write them following this provision.

In [15]:
students_details = [
{"name": "Adeoluwa Adegbagi", "class": "primary 4", "age": 12, "status": "scholar"},
{"name": "Abeke Abeni", "class": "primary 3","sport":"football", "age": 10},
{"name": "Adeleke Iyanda", "class": "primary 5", "age": 15}
]

In [16]:
def extract_name(students_details):
    names = []
    for dictionary in students_details:
        if 'name' in dictionary:
            names.append(dictionary['name'])
        else:
            names.append(None)
    return names

In [17]:
list_of_names = extract_name(students_details)

This is to show what we got:

In [18]:
print(list_of_names)

['Adeoluwa Adegbagi', 'Abeke Abeni', 'Adeleke Iyanda']

In [1]:
students_details = [
{"name": "Adeoluwa Adegbagi", "class": "primary 4"},
{"name": "Abeke Abeni", "class": "primary 6"},
{"name": "Adeleke Iyanda", "class": "primary 7"}
]

In [2]:
def print_name_and_class(name,clas):
    print(name,clas)

In [3]:
def extract_name_to_print(students_details):
    for dictionary in students_details:
        if 'name' in dictionary and 'class' in dictionary:
          print_name_and_class(dictionary['name'],dictionary['class'])
          #print(dictionary['name'],dictionary['class'])

In [4]:
extract_name_to_print(students_details)

Adeoluwa Adegbagi primary 4
Abeke Abeni primary 6
Adeleke Iyanda primary 7

In [52]:
extract_name(students_details)

['Adeoluwa Adegbagi', 'Abeke Abeni', 'Adeleke Iyanda']

In [6]:
def extract_details(students_details):
    names = []
    classes = []
    age = []
    for dictionary in students_details:
        for key in dictionary:
            if key == "name":
                names.append(dictionary[key])
            elif key == "class":
                classes.append(dictionary[key])
            elif key == "age":
                age.append(dictionary[key])
    return names,classes,age

In [9]:
details_list = extract_details(students_details)

In [12]:
details_list

(['Adeoluwa Adegbagi', 'Abeke Abeni', 'Adeleke Iyanda'],
 ['primary 4', 'primary 3', 'primary 5'],
 [12, 10, 15])

In [10]:
import pandas as pd

In [14]:
details_dataframe.head()

                name      classes             age
0  Adeoluwa Adegbagi  Abeke Abeni  Adeleke Iyanda
1          primary 4    primary 3       primary 5
2                 12           10              15

In [ ]:
import requests
import bs4
from bs4 import BeautifulSoup

In [ ]:
URL = "https://www.ncei.noaa.gov/access/services/data/v1?dataset=daily-summaries&stations=USC00457180,USC00390043&startDate=1941-12-07T09:31:20z&endDate=1945-07-12&format=json"

In [ ]:
page = requests.get(URL)

In [ ]:
formated_page = BeautifulSoup(page.text, "html.parser")

In [ ]:
print(formated_page.prettify())

In [ ]:
loaded_remote = load_data_from_remote (URL)

In [ ]:
len(loaded_remote['rows'])

In [ ]:
#Slicing data for exploration
vulData_json['rows'][0]

In [ ]:
vulData_json['rows'][0]['stdcode'][0]

In [ ]:
vulData_json['rows'][0]['references']

In [ ]:
for cvs in vulData_json['rows'][0]['cvss']:
    print (vulData_json['rows'][0]['cvss']['privilegesrequired'])