# Complete the following tasks using DataFrames and pyspark.sql functions

## Instruction: You may experiment with the code using try-and-error and step-by-step methods. For submission, please prepare a clean copy of the notebook file with the final code and final result for each task, and with additional blank cells removed. Irrelevant code will be graded as wrong answers.

## Data file: service_calls_small.csv

### 1. Read the data into a DataFrame

#### 1.1 Show schema of the data

#### 1.2 Show basic statistics of the data (count, mean, stddv, min, and max)

#### 1.3 Show the first 5 rows

#### 1.4 Display CallDate and Minutes of the first 10 rows

### 2. Write a SQL query in Spark to display service calls that were longer than 60 minutes.

### 3. Use the filter() function to show all the service calls made for product 312.

### 4. Use the filter() function to display ProductID and Resolution of the service calls that are longer than 60 minutes.

### 5. Show the total number of service calls made for each product. Order the results by ProductID.

### 6. Show the average length (in minutes) of service calls made for each product. Format the numbers with two decimal places.

### 7. Use the countDistinct() function to count the total number of unique products in the data. Rename the column of the result to “Unique Product Count”.

## Challenge (extra 10 points)

### 8. Calculate the number of service calls and total service call minutes of each month. Output a new DataFrame with three columns: month, number of calls, and total minutes

### (Hint: use the to_date() function to convert CallDate from string type to date type, then use month() function to create a new month column with the month value from CallDate.)